html,
body {
  margin: 0;
  overflow: hidden;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -ms-touch-action: none;
      touch-action: none;
}

.speed {
  position: absolute;
  top: 10vh;
  right: 10vw;

  font-size: 8vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
